@use "../../utils/Variables.scss" as *;

.playgroundList {
    width: $maxContentWidth;
    margin-inline: auto;

    .smallProjects {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            @include glass-themeColor-opacity(10);
            height: max-content;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 0;
            padding: 20px;

            .name {
                width: 100%;
                font-size: x-large;
                display: flex;
                justify-content: center;
            }

            .description {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .open {
                width: max-content;
                color: $themeColor5;
                padding-inline: 30px;
            }

        }

    }

}