@use "../../utils/Variables.scss" as *;

.backgroundAnimation {
    position: fixed;
    --y-offset: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    // z-index: -1;
    z-index: 1000000000;
    background-color: $gray-800;
    --logo-transition-time: 1s;

    &__circle {
        position: absolute;
        border-radius: 50%;
        background-color: rgba($themeColor3, 0.5);
        width: calc(1px * pow(var(--circle-size), 0.75));
        height: calc(1px * pow(var(--circle-size), 0.75));
        --new-x: 0px;
        --new-y: 0px;
        --old-x: 0px;
        --old-y: 0px;
        --time: 1s;
        --circle-size: 3;
        transition: 0.2s linear;
        transition-property: left, top, box-shadow, width, height, background-color;

        box-shadow: 0 0 calc((1px * var(--circle-size)) * 4) calc((1px * var(--circle-size)) / 3) $themeColor4;

        animation: floatAnimation var(--time) linear forwards;
        animation-duration: var(--time);

        transform: translateY(calc(0px - var(--y-offset)));
    }

    &.logoTransition &__circle {
        animation: floatAnimation-logo var(--time) linear forwards;
        animation-duration: var(--time);
        background-color: rgba($themeColor3, 0.5);
        width: calc(1px * var(--circle-size));
        height: calc(1px * var(--circle-size));
        box-shadow: 0 0 6px 2px $themeColor2;
        transition: var(--logo-transition-time) linear;
        transition-property: left, top, box-shadow, width, height, background-color;
        transform: none;
    }


    &.circleAnimation &__circle {
        animation: wrap 10s ease-in-out infinite;
        animation-delay: calc(var(--index) * 0.02s);
        background-color: rgba($themeColor3, 0.5);
        width: calc(1px * var(--circle-size));
        height: calc(1px * var(--circle-size));
        box-shadow: 0 0 6px 2px $themeColor2;
        transition: var(--logo-transition-time) linear;
        transition-property: left, top, box-shadow, width, height, background-color;
        // transform: none;
        // transform-origin: calc((0px - var(--new-x)) + 50vw) calc((0px - var(--new-y)) + 50vh);
        top: var(--new-y);
        left: var(--new-x);
    }

    &.finished &__circle {
        // animation-play-state: paused;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(1px * var(--circle-size));
        height: calc(1px * var(--circle-size));
        box-shadow: 0 0 6px 2px $themeColor2;
        background-color: rgba($themeColor3, 0.5);
    }

    .finalLoadingStrike {
        opacity: 0;
    }

    // &.finished .finalLoadingStrike {
    //     animation: finalLoadingStrike 0.3s ease-in-out forwards;
    //     width: 5px;
    //     height: 5px;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     background-color: $gray-800;
    //     opacity: 1 !important;
    //     border-radius: 50%;
    // }

}

@keyframes floatToCenter {
    100% {
        top: calc(100vh - var(--new-y));
        left: calc(100vw - var(--new-x));
    }
}

@keyframes finalLoadingStrike {
    0% {
        width: 5px;
        height: 5px;
        background-color: white;
    }

    10% {
        background-color: $themeColor3;
    }

    20% {
        background-color: $themeColor2;
    }

    30% {
        background-color: $themeColor1;
    }

    100% {
        width: max(200vw, 200vh);
        height: max(200vw, 200vh);
    }
}

@keyframes wrap {
    0% {
        top: var(--new-y);
        left: var(--new-x);
        box-shadow: 0 0 6px 2px $themeColor2;
    }

    50% {
        top: calc(100vh - var(--new-y));
        left: calc(100vw - var(--new-x));
        box-shadow: 0 0 calc((1px * var(--circle-size)) * 4) calc((1px * var(--circle-size)) / 3) $themeColor4;
    }

}

@keyframes floatAnimation {
    0% {
        top: var(--old-y);
        left: var(--old-x);
    }

    100% {
        top: var(--new-y);
        left: var(--new-x);
    }
}

@keyframes floatAnimation-logo {
    0% {
        top: var(--old-y);
        left: var(--old-x);
    }

    100% {
        top: var(--new-y);
        left: var(--new-x);
    }
}