@use "../../utils/Variables.scss" as *;
@use "../../utils/clamp.scss" as *;
@use "./Project-Big-mobile.scss" as *;

.project-card-big {
    @include glass-themeColor-opacity(10);
    max-width: $maxContentWidth;
    margin-inline: auto;
    margin-block: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .project-previewImage {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 1 / 1 / 5 / 2;
        padding: 20px;

        img {
            max-width: 100%;
            object-fit: cover;
            object-position: top;
            border-radius: 10px;
            box-shadow: 0 0 5px 1px $themeColor2;
        }
    }

    .project-title {
        font-size: clampW(0.7em, 2.5em, 200px, 2000px);
        margin-top: 10px;
        grid-area: 1 / 2 / 2 / 3;
        padding-top: 1rem;
        margin: 0;
    }

    .project-description {
        max-width: 60%;
        margin-inline: auto;
        text-align: center;
        grid-area: 2 / 2 / 3 / 3;
        justify-self: center;
        align-self: center;
        font-size: clampW(0.6em, 1em, 200px, 2000px);
    }

    .project-buttons {
        grid-area: 3 / 2 / 4 / 3;
        justify-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
        gap: 10px;
        font-size: clampW(0.6em, 1em, 200px, 2000px);
        text-align: center;
        flex-wrap: wrap;

        a {
            width: max-content;
            background-color: $themeColor2;
            color: $themeColor5;
            padding: 10px 20px;
            border-radius: 10px;
        }
    }

    .project-technologies-wrapper {
        margin-block: 1rem;
        padding-block: 1rem;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: 4 / 2 / 5 / 3;
        width: 100%;
        font-size: clampW(0.6em, 1em, 200px, 2000px);

        .technologies-label {
            margin-bottom: 10px;
        }

        .project-technologies {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.5rem;
            width: 100%;
            // display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
            // place-content: center;

            .technology {
                padding: 5px;
                border-radius: 50%;
                background: $themeColor2;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: transform 0.3s ease;
                flex-basis: 44px;
                cursor: pointer;
                position: relative;

                img {
                    object-fit: contain;
                    // filter: grayscale(1);
                    transition: opacity 0.3s ease-in-out;
                    position: absolute;
                }

                img:not(.themeColor) {
                    opacity: 0;
                    z-index: 20;
                }

                img.themeColor {
                    opacity: 1;
                    z-index: 10;
                }

                &::after {
                    font-size: 0.75rem;
                }

                &:hover {
                    transform: scale(1.2);

                    img:not(.themeColor) {
                        opacity: 1;
                    }
                }
            }
        }
    }

}