@media (width < 1200px) {
    .project-card-big {
        display: grid !important;
        grid-template-columns: 100% !important;
        grid-template-rows: auto auto max-content auto auto !important;


        .project-title {
            grid-area: 1 / 1 / 2 / 2 !important;
            text-align: center;
        }

        .project-previewImage {
            grid-area: 2 / 1 / 3 / 2 !important;
        }

        .project-description {
            grid-area: 3 / 1 / 4 / 2 !important;
            max-width: 90% !important;
        }

        .project-buttons {
            grid-area: 4 / 1 / 5 / 2 !important;
            width: 90% !important;
        }

        .project-technologies-wrapper {
            grid-area: 5 / 1 / 6 / 2 !important;
            height: min-content;
            width: 95% !important;
            --technology-size: max(min(calc(var(--body-width) * 0.1), 32px), 10px);

            .technology::after {
                font-size: clampW(0.3em, 1em, 200px, 2000px) !important;
            }
        }

    }
}