@use "../../utils/Variables.scss" as *;

@media(width < 500px) {
    .console-table:not(.contact-table) {
        thead {
            display: none;
        }

        tbody {
            display: grid;
            grid-template-columns: 100%;

            tr {
                display: grid;
                grid-template-columns: 100%;
                margin-bottom: 20px;

                &:not(:first-of-type) {
                    border-top: 2px solid $themeColor4;
                }

                td::before {
                    content: attr(data-key-to-display-when-screen-too-small);
                    display: flex;
                    height: 100%;
                    text-decoration: underline 2px $themeColor3;
                    margin-bottom: 7.5px;
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                }

                td {
                    padding: 0 !important;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 5px;
                }
            }
        }
    }
}