@media(width < 400px) {
    .consoleBackgroundWrapper {
        display: none !important;
        pointer-events: none !important;
    }

    .consoleButton {
        display: none !important;
        pointer-events: none !important;
    }
}