@use "../../utils/Variables.scss" as *;

#projectNotFoundWrapper {
    display: grid;
    grid-template-columns: 100%;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10%;
        background: linear-gradient(180deg, transparent, $backgroundColor);
    }
}

#projectNotFoundBg {
    width: 100%;
    max-width: 100vw;
    opacity: 0.4;
}

#projectNotFoundFg {
    justify-self: center;
    align-self: center;
    mix-blend-mode: lighten;
    max-width: 100vw;
}

#projectNotFoundBg,
#projectNotFoundFg {
    grid-area: 1 / 1 / 2 / 2;
}