@media(width < 1200px) {
    .detailsWrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr) !important;
        grid-template-rows: repeat(4, auto) !important;
        grid-column-gap: 0px;
        grid-row-gap: 0px;


        .project-description {
            grid-area: 1 / 1 / 2 / 3 !important;
        }


        .project-features {
            grid-area: 1 / 3 / 3 / 5 !important;
        }

        .project-technologies {
            grid-area: 2 / 1 / 3 / 3 !important;
        }

        .timeStats {
            grid-area: 3 / 1 / 4 / 3 !important;
        }

        .links {
            grid-area: 3 / 3 / 4 / 5 !important;
        }

        .codePercentages {
            grid-area: 4 / 1 / 5 / 5 !important;
        }
    }
}

@media(width < 550px) {
    .detailsWrapper {
        display: grid;
        grid-template-columns: 100% !important;
        grid-template-rows: repeat(6, auto) !important;
        grid-column-gap: 0px;
        grid-row-gap: 0px;


        .project-description {
            grid-area: 1 / 1 / 2 / 2 !important;
        }


        .project-features {
            grid-area: 2 / 1 / 3 / 2 !important;
        }

        .project-technologies {
            grid-area: 3 / 1 / 4 / 2 !important;
        }

        .timeStats {
            grid-area: 4 / 1 / 5 / 2 !important;
        }

        .links {
            grid-area: 5 / 1 / 6 / 2 !important;
        }

        .codePercentages {
            grid-area: 6 / 1 / 7 / 2 !important;
        }
    }
}