@use "../../utils/Variables.scss" as *;
@use "../../utils/clamp.scss" as *;
@use "./ProjectViewer-mobile.scss" as *;
@use "sass:color";

.project-title {
    margin-inline: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .project-images {
//     padding: 2.5%;
//     margin-inline: auto;
//     aspect-ratio: 16/9;
//     max-height: 80vh;
//     height: 80vh;
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 100%;
//     user-select: none;
//     position: relative;
//     border-radius: 2em;
//     border: 5px solid $themeColor2;
//     background-color: $gray-900;
//     overflow-x: clip;

//     &.show {
//         animation: fadeIn 0.5s ease-in-out 0ms 1 forwards;
//     }

//     .next,
//     .previous {
//         position: absolute;
//         top: 50%;
//         font-size: 350%;
//         transform: translate(-50%, -50%);
//         transition: 0.2s ease-in-out;
//         transition-property: scale, left, right;
//         cursor: pointer;
//         z-index: 10000;
//     }

//     .next.animate {
//         right: 0%;
//     }

//     .previous.animate {
//         left: 0%;
//     }

//     .next:hover,
//     .previous:hover,
//     .next.animate,
//     .previous.animate {
//         scale: 1.06;
//         color: $themeColor3;
//         filter: drop-shadow(0 0 4px $themeColor4);
//     }

//     .next {
//         right: 2%;
//     }

//     .previous {
//         left: 2%;
//     }

//     .project-image {
//         position: relative;
//         grid-area: 1 / 1 / 2 / 2;
//         border-radius: 1em;
//         overflow-y: clip;
//         display: flex;
//         justify-content: center;
//         align-items: center;

//         img {
//             width: 90%;
//             object-fit: contain;
//             border-radius: 1em;
//             border: 1px solid $themeColor3;
//             box-sizing: border-box;
//             margin: 2px;
//         }

//         .subtitle {
//             position: absolute;
//             bottom: 5px;
//             left: 50%;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             width: max-content;
//             padding-block: 10px;
//             padding-inline: 30px;
//             max-width: 90%;
//             border-radius: 10px;
//             backdrop-filter: blur(20px);
//             transform: translate(-50%, -50%);
//             border: 2px solid $themeColor3;
//             color: $themeColor5;
//         }
//     }

//     .currentIndexOf {
//         position: absolute;
//         top: 20px;
//         right: 20px;
//         padding: 10px;
//         border-radius: 1em;
//         background-color: $gray-600;
//         box-shadow: 0 0 6px 3px $gray-900;
//         z-index: 10000;
//     }

//     &[data-numpictures="1"],
//     &[data-numpictures="0"] {

//         .next,
//         .previous {
//             display: none;
//         }
//     }

//     .project-image[data-visible="false"]:not([data-animate="true"]) {
//         visibility: hidden;
//     }

//     .project-image {
//         transition: transform 0.5s ease, opacity 0.5s ease;
//         visibility: hidden;
//         opacity: 0;
//     }

//     &.next .project-image {
//         transform: translateX(150%);

//         &[data-visible="true"] {
//             visibility: visible !important;
//             opacity: 1;
//             transform: translateX(0);
//         }

//         &[data-animate="true"] {
//             visibility: visible !important;
//             transform: translateX(-150%);
//         }

//     }

//     &.prev .project-image {
//         transform: translateX(-150%);

//         &[data-visible="true"] {
//             visibility: visible !important;
//             opacity: 1;
//             transform: translateX(0);
//         }

//         &[data-animate="true"] {
//             visibility: visible !important;
//             transform: translateX(150%);
//         }

//     }

// }

.grid-item {
    @include glass-themeColor-opacity(10);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    // overflow: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.detailsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr 1.3fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-block: 2.5%;

    &::selection {
        color: $themeColor3 !important;
        background-color: red !important;
    }

    .project-description {
        grid-area: 1 / 1 / 2 / 3;
    }


    .project-features {
        grid-area: 1 / 3 / 3 / 5;
    }

    .project-technologies {
        grid-area: 2 / 1 / 3 / 3;
        max-width: unset;
        padding: 20px;
    }

    .codePercentages {
        grid-area: 3 / 1 / 4 / 3;

    }

    .links {
        grid-area: 3 / 4 / 4 / 5;
    }

    .timeStats {
        grid-area: 3 / 3 / 4 / 4;
    }


    .title {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $themeColor4;
        margin-bottom: 10px;
        font-size: clampW(0.7em, 1.3em, 200px, 2000px);
    }

    .project-description {
        padding: 20px;
        max-width: unset;
        height: auto;


        .description {
            text-align: center;
            font-size: clampW(0.5em, 1em, 200px, 2000px);
        }
    }


    .project-features {
        padding: 20px;
        max-width: unset;
        list-style-type: none;
        text-align: center;
        margin: 0;

        .features {
            margin-block: auto;
        }

        li {
            padding: 2px;
            font-size: clampW(0.5em, 1em, 200px, 2000px);
        }
    }

    .project-technologies .technologies {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
        // place-content: center;
        gap: 0.5rem;
        padding: 1em;
        // margin: auto;

        .technology {
            width: 44px;
            height: 44px;
            padding: 5px;
            border-radius: 50%;
            background: $themeColor2;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.3s ease;
            flex-basis: 44px;
            cursor: pointer;

            img {
                width: 65%;
                height: 65%;
                object-fit: contain;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .links {
        padding: 20px;
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-rows: minmax(5%, auto);
        row-gap: 20px;
        max-width: unset;


        i::before {
            font-size: 200%;
            font-family: Fontawesome;
        }

        a {
            color: color.adjust($themeColor3, $lightness: 20%);
            text-align: right;
            background-color: transparent;
            border: none;
            transition: color 0.2s ease-in-out;
            font-size: clampW(0.5em, 1em, 200px, 2000px);

            &::after {
                content: "\f08e";
                font-family: FontAwesome;
                margin-left: 5px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }

            &:hover {
                color: color.adjust($themeColor3, $lightness: 30%);
            }

            .short {
                display: none;
            }

        }

        .title {
            grid-area: 1/1/2/3;
        }
    }

    .timeStats {
        max-width: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .title {
            margin-bottom: auto;
        }

        div {
            font-size: clampW(0.5em, 1em, 200px, 2000px);
        }

        div:last-of-type {
            margin-bottom: auto;
        }

    }

    .codePercentages {
        max-width: unset;
        padding: 20px;

        .visualPercentages {
            width: calc(100% - 1em - 10px);
            height: 1em;
            margin: 0.5em;
            display: flex;
            background-color: color.adjust($themeColor1, $lightness: -5%);
            padding: 5px;
            border-radius: 10px;

            span {
                display: block;
                height: 100%;
                margin-inline: 2.5px;
                width: max(calc(var(--calculatedWidth) - 5px), 1px);
                border-radius: 5px;
                font-size: clampW(0.5em, 1em, 200px, 2000px);
            }
        }

        .names {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            font-size: clampW(0.5em, 1em, 200px, 2000px);

            li {
                list-style-type: none;
                display: flex;
                justify-content: start;
                align-items: center;

                // &::marker {
                //     color: var(--languageColor);
                //     font-size: 1em;
                // }

                &::before {
                    content: "\f111";
                    font-family: "Fontawesome";
                    color: var(--languageColor);
                    margin-right: 5px;
                    font-size: 80%;
                    margin-block: auto;
                }

                &::after {
                    content: attr(data-percentage) "%";
                    color: $gray-300;
                    opacity: 0.5;
                    margin-left: 0.3em;
                }

            }
        }

    }

}

main:has(.detailsWrapper) {
    width: 90%;
    margin-inline: auto;
}