@media (width > 2000px) {
    .achievements-page-wrapper {
        .achievements {
            grid-template-columns: 1fr 1fr 1fr !important;
        }
    }
}

@media(width < 1000px) {
    .achievements-page-wrapper {
        .achievements {
            grid-template-columns: 1fr !important;
        }
    }
}

@media (width < 300px) {
    .achievements-page-wrapper {
        .achievement {
            display: grid;
            grid-template-columns: 100% !important;
            grid-template-rows: auto auto auto !important;
            grid-column-gap: 0px;
            grid-row-gap: 10px;

            .icon {
                grid-area: 1 / 1 / 2 / 2 !important;
                margin: 0;
                padding: 0;
                padding-inline: 10px;
                padding-top: 10px;
            }

            .atitle {
                grid-area: 2 / 1 / 3 / 2 !important;
                margin: 0;
                padding: 0;
                padding-inline: 10px;
            }

            .info {
                grid-area: 3 / 1 / 4 / 2 !important;
                margin: 0;
                padding: 0;
                padding-inline: 10px;
                padding-bottom: 10px;
            }

        }
    }
}