@use "../../utils/Variables.scss" as *;
@use "../../utils/clamp.scss" as *;
@use "./Achievements-mobile.scss" as *;
@use "sass:color";

.achievements-page-wrapper {


    .achievements {
        @include glass-themeColor-opacity(10);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: calc($maxContentWidth - 40px);
        padding: 20px;
        margin-inline: auto;

        .achievement {
            @include glass-gray-opacity-without-hover();
            opacity: 1;
            transition: opacity 1.3s ease-in-out, height 1.3s ease-in-out, filter 0.5s ease-in-out;

            width: 100%;
            display: grid;
            grid-template-columns: min-content auto auto;
            grid-template-rows: auto min-content;
            grid-column-gap: 0px;
            grid-row-gap: 10px;
            $padding: 20px;
            overflow: clip;

            &[data-unlocked="false"] {
                filter: grayscale(100%) invert(50%) opacity(50%);
            }

            .icon {
                grid-area: 1 / 1 / 3 / 2;
                font-family: "Fontawesome";
                color: gold;
                font-size: clampW(1em, 3em, 200px, 2000px);
                align-items: center;
                padding-left: $padding;
                display: flex;
                justify-content: center;
            }


            .atitle {
                grid-area: 1 / 2 / 2 / 4;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 0;
                padding-right: $padding;
                padding-top: $padding;
                font-size: clampW(0.6em, 1.5em, 200px, 2000px);
            }

            .info {
                grid-area: 2 / 2 / 3 / 4;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding-inline: $padding;
                padding-bottom: $padding;
                font-size: clampW(0.4em, 0.7em, 200px, 2000px);
            }
        }
    }
}