@use "../../utils/Variables.scss" as *;
@use "../../utils/clamp.scss" as *;
@use "sass:color";
@use "./AboutMeSmall-mobile.scss" as *;

.aboutMeSmall {
    padding: 20px;
    width: calc($maxContentWidth - 40px);
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    background-color: rgba($themeColor2, 0.4);
    box-shadow: 0 0 10px 2px rgba($themeColor1, 0.6);
    gap: 20px;

    .me {
        max-width: 300px;
        max-height: 300px;
        width: calc(var(--body-width) * 0.3 - 15px) !important;
        height: calc(var(--body-width) * 0.3 - 15px) !important;
        aspect-ratio: 1/1;
        overflow: clip;
        border-radius: 50%;
        margin: auto;
        border: 5px solid $themeColor3;
        transition: scale 0.2s ease-in-out;
        cursor: pointer;
        display: flex;

        &:hover {
            scale: 1.3;
        }

    }

    .infoWrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto) 0.5fr;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        width: calc(70% - 15px);

        .hello {
            grid-area: 1 / 1 / 2 / 2;
            // font-size: 6rem;
            font-size: clampW(0.1em, 4em, 100px, 2000px);
            // background: linear-gradient(90deg, $themeColor3, $themeColor4);
            // background-clip: text;
            // color: transparent;
            // width: max-content;
            color: $themeColor4;
            text-wrap: nowrap;
        }

        .subline {
            grid-area: 2 / 1 / 3 / 2;
            font-size: clampW(0.1em, 2em, 100px, 2000px);
            background: linear-gradient(90deg, $themeColor3, $themeColor4);
            background-clip: text;
            color: transparent;
        }

        .skillsWrapper {
            grid-area: 3 / 1 / 4 / 2;
            margin-bottom: 20px;
            --technology-size: calc(var(--body-width) * 0.017);

            // .skills {
            //     list-style-type: none;
            //     display: flex;
            //     flex-direction: row;
            //     gap: 20px;
            //     flex-wrap: wrap;
            //     justify-content: start;
            //     align-items: center;
            //     margin: 0;
            //     height: 100%;
            //     padding: 0;

            //     li {
            //         transition: transform 0.2s ease-in-out;
            //         transform: scale(1) translateY(0px);
            //         cursor: pointer;
            //         padding: 5px;
            //         background-color: $themeColor2;
            //         border-radius: 50%;
            //         aspect-ratio: 1/1;
            //         display: flex;
            //         justify-content: center;
            //         align-items: center;
            //         position: relative;

            //         img {
            //             object-fit: contain;
            //             // filter: grayscale(1);
            //             transition: opacity 0.3s ease-in-out;
            //             position: absolute;
            //             scale: 0.8;
            //         }

            //         img:not(.themeColor) {
            //             opacity: 0;
            //             z-index: 20;
            //         }

            //         img.themeColor {
            //             opacity: 1;
            //             z-index: 10;
            //         }


            //         img {
            //             max-height: 10vh;
            //         }


            //         &:hover {
            //             transform: scale(1.2) translateY(-7.5px);

            //             img:not(.themeColor) {
            //                 opacity: 1;
            //             }
            //         }
            //     }
            // }

        }

        .buttons {
            grid-area: 4 / 1 / 5 / 2;
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;

            a {
                width: 200px;
                max-width: 30%;
                min-width: 100px;
                background-color: rgba($themeColor2, 0.9);
                backdrop-filter: blur(20px);
                font-size: clampW(0.2em, 1.6em, 200px, 2000px);
                display: flex;
                justify-content: center;
                align-items: center;

                padding: 12px 18px;
                font-weight: 600;
                letter-spacing: 0.5px;
                border-radius: 12px;
                border: none;
                cursor: pointer;
                box-shadow: 0 0 5px 1px rgba($themeColor1, 0.6);
                transition: transform 0.2s ease-in-out;

                color: $themeColor5;

                &:hover {
                    transform: translateY(-3px) scale(1.05);
                    border: 1px solid $themeColor3;
                }

            }

        }

    }
}