@use "../../utils/Variables.scss" as *;
@use "../../utils/clamp.scss" as *;
@use "sass:color";
@use "./Home-mobile.scss" as *;

$bgColor: color.mix($themeColor1, $backgroundColor, 20%);
$transitionSize: 10%;
$transparency: 0.8;

#projects {
    // width: 80%;
    display: flex;
    flex-direction: column;
    // background-color: rgba($bgColor, $transparency);
    position: relative;

    h1 {
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clampW(1em, 3em, 200px, 2000px);
    }

    .projects-wrapper {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: row;
        gap: 3rem;
        padding-block: 10px;
        margin-inline: 20px;
        flex-wrap: wrap;
    }

    // &::after,
    // &::before {
    //     content: "";
    //     width: 100%;
    //     height: $transitionSize;
    //     position: absolute;
    //     left: 0;
    // }

    // &::before {
    //     top: 0;
    //     background: linear-gradient(0deg, rgba($bgColor, $transparency), $gray-800);
    // }

    // &::after {
    //     bottom: 0;
    //     background: linear-gradient(180deg, rgba($bgColor, $transparency), $gray-800);
    // }

}