@media (width < 400px) {
    #projects {

        .projects-wrapper {
            --technology-size: 20px;

            .project-card-small {
                .project-description {
                    font-size: 75%;
                }

                .project-title {
                    font-size: 1rem;
                }
            }
        }
    }
}