@use "../../utils/Variables.scss" as *;
@use "../../utils/clamp.scss" as *;
@use "./HamburgerMenhu.scss" as *;

$mobileNavWidth: max(40vw, 180px);

@media (width < 900px) {
    #navContent {
        a {
            .normal {
                display: none !important;
            }

            .short {
                display: inline-block !important;
            }
        }
    }
}

@media(width < 270px) {
    #header.open {
        .openMenu {
            left: 50% !important;
            top: calc(100% - 20px) !important;
            transform: translateY(-100%);
            z-index: 1000000000000;
        }
    }
}

@media(width < 750px) {
    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(16px) saturate(90%) brightness(75%);
        z-index: 1000000000;
        --hamburgerSize: #{clampW(1.6em, 2em, 200px, 750px)};

        &:not(.open) {
            width: 0px;

            img,
            #navContent {
                transform: scaleX(0);
            }

            .share {
                transform: translateX(calc(-50% - #{$mobileNavWidth} / 2)) scaleX(0);
                pointer-events: none;
            }

        }

        &.open {
            .openMenu {
                left: calc($mobileNavWidth + 20px);
            }
        }

        .share {
            aspect-ratio: 1 / 1;
            justify-content: center;
            align-items: center;
            width: 12%;
            max-width: 40px;
            min-width: 32px;
            padding: 0;
            cursor: pointer;
            pointer-events: all;
            z-index: 1000000000000;
            position: absolute;
            bottom: 20px;
            left: calc($mobileNavWidth / 2);
            transform: translateX(-50%);
            pointer-events: all;
            transition: transform 0.3s ease-in-out;

            &:hover {
                &::before {
                    color: $themeColor3;
                }
            }

            &::before {
                content: "\f064";
                font-family: "Fontawesome";
                aspect-ratio: 1 / 1;
                color: rgba($themeColor3, 0.6);
                font-size: clampW(1em, 2em, 200px, 2000px);
            }

            &.big {
                display: none;
            }

            &.small {
                display: flex;
            }
        }

        .openMenu {
            position: fixed;
            top: 10px;
            left: 10px;
            height: var(--hamburgerSize);
            width: var(--hamburgerSize);
            top: min(2vw, 2vh);
            left: min(2vw, 2vh);
            z-index: 1000;
            cursor: pointer;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
            background: rgba($themeColor3, 0.5);
            pointer-events: all !important;
            scale: 0.9;
            padding: 8px;
            box-shadow: 0px 0px 10px 1px rgba($gray-300, 0.3);
            --color: #{$themeColor5};

            &:hover {
                scale: 1;
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
            }
        }

        img {
            position: absolute;
            $padding: 5vw;
            top: 10px;
            left: $padding;
            width: calc($mobileNavWidth - $padding * 2);
            z-index: 10000000000000;
            cursor: pointer;
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
        }

        #navContent {
            position: absolute;
            left: 0;
            top: 0;
            width: $mobileNavWidth;
            height: 100%;
            backdrop-filter: blur(10px) saturate(20%) brightness(20%);
            z-index: 100000000000;
            background-color: rgba($gray-800, 0.9);
            box-shadow: 0 0 10px 2px $gray-950;
            transform-origin: left;
            transition: transform 0.3s ease-in-out;

            ul {
                list-style-type: none;
                height: auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                gap: 20px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                justify-content: center;
                align-items: center;

                li {
                    width: calc(100% - 40px);


                    a.active {
                        transition: box-shadow 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
                        box-shadow: 0 0 10px 3px $themeColor3;
                        background-color: $themeColor3;
                    }

                    a {
                        transition: backdrop-filter ease-in-out 0.3s;
                        background-color: transparent;
                        backdrop-filter: saturate(60%) brightness(100%);
                        box-shadow: 0 3px 15px 1px $themeColor2;

                        color: $textColor;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .short {
                            display: none;
                        }

                    }

                    a:hover {
                        backdrop-filter: saturate(60%) brightness(50%);
                        box-shadow: 0 3px 15px 6px $themeColor2;
                    }

                }

            }

        }

    }
}