@media(width < 1800px) {
    .achievements-wrapper .achievements {
        grid-template-columns: 1fr 1fr !important;
        justify-content: center;
        align-items: center;
    }
}

@media (width < 1100px) {
    .achievements-wrapper .achievements {
        grid-template-columns: 1fr !important;

        .title {
            line-height: 1.5em;
        }
    }
}

@media(width < 600px) {
    .whatILearned {
        grid-template-columns: 100% !important;
    }
}

@media(width < 600px) {
    .whatIDid {
        grid-template-columns: 100% !important;
    }
}