@use "../../../utils/Variables.scss" as *;
@use "../../../utils/clamp.scss" as *;
@use "./StemRacing-mobile.scss" as *;

.stemRacing {

    .images-wrapper {
        @include glass-themeColor-opacity(10);
        padding: 20px;
        width: calc($maxContentWidth - 20px * 2);
        margin-inline: auto;
        color: $themeColor4;
        margin-top: 5%;

        .title {
            color: $themeColor3;
            font-size: clampW(0.7em, 2em, 200px, 2000px);
        }

        .images {
            width: 100%;

            picture img {
                width: 100%;
            }
        }
    }

    .whatIsStemRacing {
        @include glass-themeColor-opacity(10);
        padding: 20px;
        width: calc($maxContentWidth - 20px * 2);
        margin-inline: auto;
        color: $themeColor4;
        margin-top: 5%;

        .title {
            margin-top: 5px;
            color: $themeColor3;
            font-size: clampW(0.7em, 2em, 200px, 2000px);
        }

        .content {
            width: 90%;
            margin-inline: auto;
            line-height: 1.5;
            font-size: clampW(0.5em, 1em, 200px, 2000px);
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: grid;
            gap: 0.5rem;

            li {
                padding-left: 1.2rem;
                position: relative;
                opacity: 0.9;

                &::before {
                    content: "•";
                    position: absolute;
                    left: 0;
                    color: $themeColor3;
                    font-size: 1.5rem;
                    line-height: 1;
                }
            }
        }
    }

    .achievements-wrapper {
        @include glass-themeColor-opacity(10);
        padding: 20px;
        width: calc($maxContentWidth - 20px * 2);
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        color: $themeColor4;

        .title {
            margin-top: 5px;
            color: $themeColor3;
            font-size: clampW(0.7em, 2em, 200px, 2000px);
        }

        .achievements {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            .achievement {
                @include glass-gray-opacity-without-hover();
                padding: 10px 20px;
                display: grid;
                grid-template-columns: auto 1fr;
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;

                .icon {
                    grid-area: 1 / 1 / 3 / 2;
                    justify-self: center;
                    align-self: center;
                    color: $themeColor3;
                    text-shadow: 0 0 10px rgba($themeColor3, 0.5),
                        0 0 20px rgba($themeColor3, 0.3);
                    transition: text-shadow 0.25s ease;
                    margin-inline: 20px;

                    &::after {
                        content: var(--content);
                        font-family: Fontawesome;
                        font-size: 260%;
                    }

                    &.regionals {
                        --content: "\f3c5";
                    }

                    &.nationals {
                        --content: "\f024";
                    }

                    &.world {
                        --content: "\f0ac";
                    }

                }

                .title {
                    grid-area: 2 / 2 / 3 / 3;
                    border-top: 2px solid rgba($themeColor5, 0.3);
                    color: $themeColor5;
                    font-size: clampW(0.7em, 1.3em, 200px, 2000px);
                }

                .value {
                    grid-area: 1 / 2 / 2 / 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    font-size: clampW(0.5em, 1em, 200px, 2000px);

                    .medal {

                        &::after {
                            content: var(--content);
                            font-family: Fontawesome;
                            font-size: 150%;
                            font-weight: 900;
                        }
                    }

                    .medal.gold::after {
                        --content: "\f5a2";
                        color: gold;
                    }

                    .medal.silver::after {
                        --content: "\f5a2";
                        color: silver;
                    }

                    .medal.grey::after {
                        --content: "\f005";
                        color: grey;
                    }
                }


            }

        }

    }

    .whatIDid-wrapper {
        @include glass-themeColor-opacity(10);
        padding: 20px;
        width: calc($maxContentWidth - 20px * 2);
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        margin-top: 5%;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .externalLink {
                background-color: rgba($themeColor3, 0.5);
                margin-top: 10px;
                color: $themeColor4;


                &:hover {
                    background-color: rgba($themeColor3, 0.8);
                    color: $themeColor1;
                    border: 1px solid $themeColor2;
                }
            }
        }

        .title {
            margin-top: 5px;
            color: $themeColor3;
            font-size: clampW(0.7em, 2em, 200px, 2000px);
        }

        .whatIDid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: grid;
                gap: 0.5rem;
                align-self: start;
                margin-left: 10px;

                li {
                    padding-left: 1.2rem;
                    position: relative;
                    opacity: 0.9;

                    &::before {
                        content: "•";
                        position: absolute;
                        left: 0;
                        color: $themeColor3;
                        font-size: 1.5rem;
                        line-height: 1;
                    }
                }
            }

            .whatIDid-entry {
                @include glass-gray-opacity-without-hover();
                width: calc(100% - 40px);
                margin-inline: auto;
                padding: 20px;
                color: $themeColor4;

                .content {
                    line-height: 1.5;
                }

                .title {
                    font-size: 110%;
                    border-bottom: 2px solid rgba($themeColor3, 0.3);
                    color: $themeColor3;
                }
            }
        }

    }


    .whatILearned-wrapper {
        @include glass-themeColor-opacity(10);
        padding: 20px;
        width: calc($maxContentWidth - 20px * 2);
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        margin-top: 5%;

        .title {
            margin-top: 5px;
            color: $themeColor3;
            font-size: clampW(0.7em, 2em, 200px, 2000px);
        }

        .whatILearned {
            display: grid;
            grid-template-columns: repeat(2, calc(50% - 10px));
            gap: 20px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: grid;
                gap: 0.5rem;
                align-self: start;
                margin-left: 10px;

                li {
                    padding-left: 1.2rem;
                    position: relative;
                    opacity: 0.9;
                    justify-self: center;

                    &::before {
                        content: "•";
                        position: absolute;
                        left: 0;
                        color: $themeColor3;
                        font-size: 1.5rem;
                        line-height: 1;
                    }
                }
            }

            .whatILearned-section {
                @include glass-gray-opacity-without-hover();
                width: calc(100% - 40px);
                margin-inline: auto;
                padding: 20px;
                color: $themeColor4;

                h3 {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 110%;
                    border-bottom: 2px solid rgba($themeColor3, 0.3);
                    color: $themeColor3;
                }

                .ul {
                    line-height: 1.5;
                }
            }
        }

    }
}