@use "../../utils/Variables.scss" as *;
@use "../../utils/clamp.scss" as *;

.imageViewer-wrapper {
    padding: 2.5%;
    margin-inline: auto;
    aspect-ratio: 16/9;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    user-select: none;
    position: relative;
    border-radius: 2em;
    border: 5px solid $themeColor2;
    background-color: $gray-900;
    overflow-x: clip;

    &.show {
        animation: fadeIn 0.5s ease-in-out 0ms 1 forwards;
    }

    .next,
    .previous {
        position: absolute;
        top: 50%;
        font-size: 350%;
        transition: 0.2s ease-in-out;
        transition-property: scale, left, right;
        cursor: pointer;
        z-index: 10000;
    }

    .previous {
        transform: translate(-50%, -50%);
    }

    .next {
        transform: translate(50%, -50%);
    }

    .next.animate {
        right: 2%;
    }

    .previous.animate {
        left: 2%;
    }

    .next:hover,
    .previous:hover,
    .next.animate,
    .previous.animate {
        scale: 1.06;
        color: $themeColor3;
        filter: drop-shadow(0 0 4px $themeColor4);
    }

    .next {
        right: 6%;
    }

    .previous {
        left: 6%;
    }

    .image {
        grid-area: 1 / 1 / 2 / 2;
        border-radius: 1em;
        overflow-y: clip;
        display: flex;
        justify-content: center;
        align-items: center;

        picture {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: max-content;
            position: absolute;
            width: 85%;
            height: 95%;
        }

        img {
            object-fit: contain;
            border-radius: 1em;
            border: 1px solid $themeColor3;
            box-sizing: border-box;
            margin: 2px;
            position: absolute;
            max-width: 100%;
            max-height: 100%;
        }

        .subtitle {
            position: absolute;
            bottom: 5px;
            left: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: max-content;
            padding-block: 10px;
            padding-inline: 30px;
            max-width: calc(90% - 60px);
            border-radius: 10px;
            backdrop-filter: blur(20px) saturate(10%) brightness(50%);
            transform: translate(-50%, -50%);
            border: 2px solid $themeColor3;
            color: $themeColor5;
            font-size: clampW(0.5em, 1.2em, 200px, 2000px);
            text-align: center;
        }
    }

    .currentIndexOf {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 10px;
        border-radius: 1em;
        background-color: $gray-600;
        box-shadow: 0 0 6px 3px $gray-900;
        z-index: 10000;
        font-size: clampW(0.5em, 1em, 200px, 2000px);
    }

    &[data-numpictures="1"],
    &[data-numpictures="0"] {

        .next,
        .previous {
            display: none;
        }
    }

    .image[data-visible="false"]:not([data-animate="true"]) {
        visibility: hidden;
    }

    .image {
        transition: transform 0.5s ease, opacity 0.5s ease;
        visibility: hidden;
        opacity: 0;
    }

    &.next .image {
        transform: translateX(150%);

        &[data-visible="true"] {
            visibility: visible !important;
            opacity: 1;
            transform: translateX(0);
        }

        &[data-animate="true"] {
            visibility: visible !important;
            transform: translateX(-150%);
        }

    }

    &.prev .image {
        transform: translateX(-150%);

        &[data-visible="true"] {
            visibility: visible !important;
            opacity: 1;
            transform: translateX(0);
        }

        &[data-animate="true"] {
            visibility: visible !important;
            transform: translateX(150%);
        }

    }

}