@media(width < 500px) {
    .about-me-section.stack {
        .techList {
            --technology-size: calc(var(--body-width) * 0.07);
            gap: 10px;
        }
    }

    .about-me-section.intro {
        .image {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}